<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-17.17t | %d{yyyy-MM-dd HH:mm:ss.SSS zzz} | %-5p | %36.36c{36}[%3.3L] | %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.antlr" level="OFF" additivity="false" >
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.eclipse.jetty" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.contextsmith" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.google.api.client.auth.oauth2" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>